body {
    background-color: rgb(238, 238, 238);
    padding: 3em;
    font-family: 'Georgia';
}








header p, header ul, header li {
    display: inline-block;
}

header {
    border-bottom: solid 0.15em black;
    padding-bottom: 0.5em;
    position: relative;
}

header p {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
}

header ul li a {
    margin-left: 0.8em;
}

a {
    text-decoration: none;
    color: rgb(4, 167, 4);
}








main, aside {
    display: inline-block;
}

main {
    width: 70%;
    margin-right: 5em;
}

aside {
    vertical-align: top;
}







main article img.first-img {
    float: right;
    margin-left: 1em;
}

main article.second-article {
    margin-top: 3em;
}

h1, h2 {
    font-weight: 200;
}

main article.second-article h2 {
    font-size: 1.3em;
}

main article.second-article p.before-blockquote {
    width: 40%;
    display: inline-block;
}

main article.second-article .section-with-blockquote {
    position: relative;
}

main article.second-article .section-with-blockquote >p {
    padding-right: 2em;
    border-right: solid 0.5em rgb(220, 219, 219);
}

blockquote {
    display: inline-block;
    width: 40%;
    height: auto;
    position: absolute;
    top: 0;
    font-style: italic;
}

blockquote p {
    margin-top: 0;
}

blockquote p.author-name {
    margin: auto;
    position: absolute;
    right: 0;
}








main article.third-article {
    margin-top: 3em;
}

main article.third-article img {
    float: left;
    width: 10em;
    height: auto;
    margin-right: 1em;
    margin-bottom: 1em;
}








