body {
    font-family: 'Helvetica';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'Georgia' ;
}

section {
    display: flex;
    max-width: 100vh;
    justify-content: space-between;
    gap: 4em;
}
